.navigare {
    box-sizing:0;
    margin:0;
    padding:0;
  }
  .imaglogo {
    align-items:centre;
    padding-left: 35em;
    padding-right:15em;
    padding-top:-10em;
    margin-top:-15em;
    cursor:pointer;
  }
  .navigare {
    display:flex;
    justify-content:space-between;
    align-items:centre;
    padding:20px 15px;
    list-style:none; 
  }
  .navigare li {
    display:inline-block;
  }
  .navigare li a {
    text-decoration:none;
    color:white;
    transition: .4s ease-in;
    cursor:pointer;
    z-index: 1;
  }
  .navigare li a:hover {
    color:rgb(17, 138, 214);
  }
  .cautare {
    width:max-content;
    display:flex;
    align-items:centre;
    padding:14px;
    border-radius: 28px;
    background-color:white;
    cursor:pointer;
  }
  .cautare-input {
    font-size:15px;
    margin-left:14px;
    color:rgb(9, 9, 9);
    outline:none;
    border:none;
    background:transparent;
  }
  .cuprins {
    text-decoration:none;
    background-color:blueviolet;
    width:max-content;
    display:flex;
    align-items:centre;
    padding:14px;
    border-radius: 28px;
  }
  .contact {
    text-decoration:none;
    background-color:blueviolet;
    width:max-content;
    display:flex;
    align-items:centre;
    padding:14px;
    border-radius: 28px;
  }
  .exercitii{
    text-decoration:none;
    background-color:blueviolet;
    width:max-content;
    display:flex;
    align-items:centre;
    padding:14px;
    border-radius: 28px;
  }
  .butoane{
    display:flex;
  }
  body{
    background: #1b093e;
  .buton1 {
    /* background-image: url('/buton1.jpg');
    background-size: 1000px, 500px;
    width:1000px;
    height:500px; 
    background-repeat: no-repeat;
    background-size: contain;
     /* padding-right:7em;
    padding-left:5em;
   padding-top:10em; */
   padding-left: auto;
   padding-right:8em;
    position: relative;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
  }
  .overlaiedtext img {
    display: block;
    width: 100%;
    
  }
  .overlaiedtext {
  padding-left: auto;
  padding-right:8em;
  position:absolute;
  top: 60%; 
  left: 70%; 
  transform: translate(-50%, -50%);  
  color: #fff; 
 /* padding: 10px 20px; */
  font-size: 20px; 
  text-align:left;
  display: inline-block;
  }
 .seemore {
    width:100px;
    height:30px;
    font-size:15px;
    margin-left:20em;
    margin-right: auto;
    padding:5px; 
    border-radius:14px;
    background-color:blueviolet;
    transform: translate(-50%, -50%);
    justify-content: center;
    display: flex;

 }
 .seemore a {
  text-decoration: none;
  color:black; }
 .buton2 {
    padding-left: auto;
    padding-right:8em;
    position:relative;
    display:inline-block; 
    margin-left:auto;
    margin-right:auto;
 }
 .textpesteimagine img {
    display: block;
    width: 100%;
 }
 .textpesteimagine {
  padding-left: 8em;
  padding-right:auto;
    position:absolute;
    top: 130%; 
    left: 35%; 
    transform: translate(-50%, -50%);  
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align:left; 
    display: inline-block;
    }
    .seemore2 {
        color:black;
        width:100px;
        height:30px;
        font-size:15px;
        padding:5px;
        border-radius:14px;
        background-color:blueviolet;
        transform: translate(-50%, -50%);
        margin-right: auto;
        margin-left:25em;
        justify-content:center;
        display:flex;
     }
     .buton3 {
        padding-left: auto;
        padding-right:8em;
        position:relative;
        display:inline-block; 
        margin-left:auto;
        margin-right:auto;
     }
     .textpesteimagine2 img {
        display: block;
        width: 100%;
     }
     .textpesteimagine2 {
      padding-left:8em;
      padding-right:auto;
        position: absolute;
        top: 220%; 
        left: 35%; 
        transform: translate(-50%, -50%);  
        color: #fff; 
        padding: 10px 20px; 
        font-size: 20px; 
        text-align:left;
        display: inline-block;
        }
        .seemore3 {
            color:black;
            width:100px;
            height:30px;
            font-size:15px;
            padding:5px;
            border-radius:14px;
            background-color:blueviolet;
            transform: translate(-50%, -50%);
            justify-content: center;
            display:flex;
            margin-left:30em;
            margin-right: auto;
         }
        }
        hr {
          color:rgb(26, 15, 37);
        }
         .promo {
           display:inline-flex;
           color:white;
         }