.navigare {
    box-sizing:0;
    margin:0;
    padding:0;
  }
  .imaglogo {
    align-items:centre;
    padding-left: 35em;
    padding-right:15em;
    padding-top:-10em;
    margin-top:-15em;
    cursor:pointer;
  }
  .navigare {
    display:flex;
    justify-content:space-between;
    align-items:centre;
    padding:20px 15px;
    list-style:none; 
  }
  .navigare li {
    display:inline-block;
  }
  .navigare li a {
    text-decoration:none;
    color:white;
    transition: .4s ease-in;
    cursor:pointer;
    z-index:1;
  }
  .navigare li a:hover {
    color:rgb(17, 138, 214);
  }
  .cautare {
    width:max-content;
    display:flex;
    align-items:centre;
    padding:14px;
    border-radius: 28px;
    background-color:white;
    cursor:pointer;
  }
  .cautare-input {
    font-size:15px;
    margin-left:14px;
    color:rgb(9, 9, 9);
    outline:none;
    border:none;
    background:transparent;
  }
  .cuprins {
    text-decoration:none;
    background-color:blueviolet;
    width:max-content;
    display:flex;
    align-items:centre;
    padding:14px;
    border-radius: 28px;
  }
  .contact {
    text-decoration:none;
    background-color:blueviolet;
    width:max-content;
    display:flex;
    align-items:centre;
    padding:14px;
    border-radius: 28px;
  }
  .exercitii{
    text-decoration:none;
    background-color:blueviolet;
    width:max-content;
    display:flex;
    align-items:centre;
    padding:14px;
    border-radius: 28px;
  }
  .butoane{
    display:flex;
  }
  body{
    background-color:blueviolet;
  }